%li
  %a{:href => legislatives_path}
    Bandeja de Proyectos
%li
  %a{:href => favorites_legislatives_path}
    Mis Favoritos
%li
  %a{:href => trash_legislatives_path}
    Papelera de Reciclaje
%li
  %a{:href => events_legislatives_path}
    Eventos y Agenda
%li
  %a{:href => "#"}
    Perfil Congresista
%li
  %a{:href => "#"}
    Informes