%li.has-dropdown
  %a{ href: "#"}
    Proyectos
  %ul.left.dropdown
    %li
      %a{ href: legislatives_path}
        Bandeja de Proyectos
    %li
      %a{ href: projects_law_legislatives_path}
        Proyectos Sancionados
    %li
      %a{ href: projects_old_legislatives_path}
        Proyectos Archivados y Retirados
%li
  %a{ href: favorites_legislatives_path}
    Mis Favoritos
%li
  %a{ href: trash_legislatives_path}
    Papelera de Reciclaje
%li.has-dropdown
  %a{ href: "#"}
    Eventos y Agenda
  %ul.left.dropdown
    %li
      %a{ href: events_legislatives_path}
        Agenda Favoritos
    %li
      %a{ href: events_commission_legislatives_path}
        Agenda Comisiones
%li
  %a{ href: stakeholders_legislatives_path}
    Perfil Congresistas
%li
  %a{ href: report_legislatives_path }
    Informes
