.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "star"
        Mis Favoritos
      .tray.projects
        .row
          .small-12.columns
            = render 'search'
          .small-12.columns
            .button.success
              %a.last-stakeholders{href: current_week_favorites_legislatives_path}
                Ver favoritos recientes
        %table
          %colgroup
            %col
            %col
            %col
            %col{width: "15%"}
            %col{width: "10%"}
            %col{width: "120"}
          %thead
            %tr
              %th
                Num Cámara
              %th
                Num Senado
              %th
                Título
              %th
                Estado
              %th
                Tipo de Ley
              %th
                Impacto
              %th
                Opciones
          %tbody.js_legislatives
            = render partial: "legislatives/favorites"
