%li.has-dropdown
  %a{ href: "#"}
    Proyectos
  %ul.left.dropdown
    %li
      %a{ href: councils_path}
        Bandeja de Proyectos
    %li
      %a{ href: projects_approved_councils_path}
        Proyectos Aprobados
    %li
      %a{ href: projects_old_councils_path}
        Proyectos Archivados y Retirados
%li
  %a{ href: favorites_councils_path}
    Mis Favoritos
%li
  %a{ href: trash_councils_path}
    Papelera de Reciclaje
%li
  %a{ href: councillors_councils_path}
    Perfil Concejales
%li
  %a{ href: "#"}
    Informes
