body{
  &.sessions{
    background: darken($C-luz, 5%);
    padding-top: $D-padGlb;
    header{
      padding-top: $D-padGlb;
      max-width: 35em;
      margin: 0 auto;
      background: $C-luz;
    }
    footer{
      display: none;
      max-width: 35em;
      margin: 0 auto;
      background: $C-luz;
    }
    h2{
      // border-bottom: 1px solid darken($C-luz, 10%);
      border-bottom: 1px solid $C-enfasis;
      i{
        color: $C-enfasis;
      }
    }
    .main{
      max-width: 35em;
      margin: 0 auto;
      background: $C-luz;
      padding-top: $D-padGlb;
      padding-bottom: $D-padGlb;
    }
    .actions{
      ul{
        padding: 0;
        li{
          display: inline-block;
          border: 2px solid transparent;
          border-radius: $D-padGlb/4;
          margin-top: $D-padGlb/2;
          background: transparent;
          padding: $D-padGlb/10 $D-padGlb/4;
          i{
            display: inline;
            transition: transform 400ms ease-in, color 200ms ease-out;
            transform: rotateY(0deg);
            margin-left: $D-padGlb/2;
            width: $D-padGlb;
            color: $C-enfasis;
          }
          a{
            transition: all 200ms ease-in;
            display: inline;
            color: $C-base;
          }
          &:hover{
            background: $C-luz;
            border: 2px solid transparentize($C-base, 0.8);
            // border-left: 2px solid $C-enfasis;
            i{
              color: darken($C-base, 25%);
              transform: rotateY(360deg);
            }
            a{
              color: $C-enfasis;
            }
          }
        }
      }
      hr{
        margin: $D-padGlb/8 0;
      }
    }
    .row{
      background: transparent;
      .columns{
        input{
          &[type="checkbox"]{
            margin-top: $D-padGlb/2;
          }
        }
        &.labels{
          padding: $D-padGlb/2;
          text-align: right;
        }
      }
      .logo{
        text-align: center;
      }
    }
    &.login{
    }
  }
  &.passwords{
    @extend .sessions;
  }
  &.registrations{
    h2{
      margin-top: $D-padGlb*2;
      border-bottom: 1px solid $C-enfasis;
      i{
        color: $C-enfasis;
      }
    }
    .row{
      .columns{
        &.labels{
          padding: $D-padGlb/2;
          text-align: right;
        }
      }
    }
  }
  .cancelAccount{
    display: none;
  }
}