@import "variables";
//Rama Legislativa
.legislatives{
  .visible-pdf{
    display: none;
  }
  header{
    h1{
      border-bottom: $D-padGlb/4 solid $C-matiz1;
      i{
        background: $C-matiz1;
      }
    }
  }
  h2{
    i{
      color: $C-matiz1;
    }
  }
  .main{
    h2{
      i{
        color: $C-matiz1;
      }
    }
    h3{
      i{
        background: $C-matiz1;
      }
    }
    .tray{
      table{
        tbody{
          tr{
            td{
              &.actions{
                a{
                  &:hover{
                    i{
                      color: $C-matiz1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .pryctDtl{
      .row{
        .columns{
          &.actions{
            a{
              &:hover{
                i{
                  color: $C-matiz1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.last-stakeholders {
  color: #FFF !important;
}
