@import "foundation_and_overrides";

.hidden-pdf { display: none; }
.visible-pdf { display: inline-block !important; }
.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak{ page-break-inside: avoid;}
table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}
header{
  img{
    width: 50mm;
  }
}
body{
  font-family: Tahoma;
  font-size: 11pt;
  h2{
    color: #224484;
    font-weight: normal;
    i{
      color: #F49027 !important;
    }
  }
  figure{
    float: right;
    background: whitesmoke;
    padding: 3mm;
    border: 1mm solid white;
    outline: 1pt solid lightgray;
    img{
      height: auto;
    }
    p{
      text-align: center;
      font-size: 9pt;
    }
  }
  .project{
    dl{
      margin-bottom: 0 !important;
      dt{
        border-top: 1pt solid lightgray;
        padding: 1.5mm 1mm 0;
        line-height: 12px;
        font-weight: 600;
        margin-top: 2mm;
      }
      dd{
        margin-left: 2.5mm;
        margin-bottom: 0 !important;
        border-bottom: 0.5pt solid gray;
        min-height: 6mm;
        font-size: 11pt;
        line-height: 12px;
        p{
          text-align: justify;
        }
      }
    }
    &.double{
      dl{
        float: left;
        width: 48%;
        margin-right: 2%;
      }
    }
  }
  .autors{
    table{
      width: 100%;
      border-width: thin;
      tbody{
        tr{
          &:nth-child(odd){
          }
          &:nth-child(even){
            background: #f5f8fc;
          }
        }
        td{
          vertical-align: super;
          padding: 1.5mm;
          border-collapse: collapse;
          &.desc{
            max-width: 125mm;
            text-align: justify;
          }
        }
      }
    }
  }
}

h1.report-title {
  border: none !important;
  margin-bottom: .5em;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
}

.avatar {
  width: 180px;
  position: absolute;
  right: 0;
  top: 0;
}

.report {
  table {
    width: 100%;
    &.table-border {
      border: 2px solid #2D59AC;
      border-collapse: collapse;
      th, td {
        border: 2px solid #2D59AC;
      }
    }
    &.table-report {
      border: 2px solid #FFFFFF;
      tr {
        &.even, &.alt, &:nth-of-type(even) {
          background: #EAEFF7;
        }
        &:nth-of-type(odd) {
          background: #D2DEEF;
        }
        td:first-child {
          background: #5B9BD5 !important;
          color: #FFFFFF;
        }
      }
      thead {
        tr {
          background: #5B9BD5 !important;
          th {
            color: #FFFFFF;
          }
        }
      }
    }
    &.table-simple {
      tr {
        td:first-child {
          background: transparent !important;
          color: #000000;
        }
      }
    }
  }
  .section {
    page-break-after: always;
  }
  .w20 { 
    width: 16%;
    overflow: hidden;
  }
  .w40 { 
    width: 33%;
    overflow: hidden;
  }
  .w60 { 
    width: 50%;
    overflow: hidden;
  }
}