@import "foundation_and_overrides";

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak{ page-break-inside: avoid;}

header{
  img{
    width: 50mm;
  }
}
body{
  font-family: Tahoma;
  font-size: 11pt;
  h2{
    color: #224484;
    font-weight: normal;
  }
  .project{
    dl{
      margin-bottom: 0 !important;
      dt{
        border-top: 1pt solid lightgray;
        padding: 1.5mm 1mm 0;
        line-height: 12px;
        font-weight: 600;
        margin-top: 2mm;
      }
      dd{
        margin-left: 2.5mm;
        margin-bottom: 0 !important;
        border-bottom: 0.5pt solid gray;
        min-height: 6mm;
        font-size: 11pt;
        line-height: 12px;
        p{
          text-align: justify;
        }
      }
    }
    &.double{
      dl{
        float: left;
        width: 48%;
        margin-right: 2%;
      }
    }
  }
  .autors{
    table{
      width: 100%;
      border-width: thin;
      tbody{
        tr{
          &:nth-child(odd){
          }
          &:nth-child(even){
            background: #f5f8fc;
          }
        }
        td{
          vertical-align: super;
          padding: 1.5mm;
          border-collapse: collapse;
          &.desc{
            max-width: 125mm;
            text-align: justify;
          }
        }
      }
    }
  }
}
