
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Hind);
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400italic);
@import "variables";

body{
  header{
    h1{
      font-family: 'Hind', sans-serif;
    }
  }
  .main{
    h1{
      font-family: 'Hind', sans-serif;
    }
  }
  aside{
    &.left-off-canvas-menu{
      ul{
          &.off-canvas-list{
            li{

            }
            a{
              font-family: 'Economica', sans-serif;
              font-size: $D-bigFnt;
              text-transform: uppercase;
            }
            span{

            }
            strong{
              font-weight: 700;
            }
          }
        }
    }
  }
  .dashboard{
    ul{
      li{
        a{
          .icon{
            font-size: $D-icoBig;
          }
          span{
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            text-align: center;
            font-size: $D-hdrFnt;
            line-height: 140%;
            text-transform: uppercase;
            &.minus{
              font-size: $D-lrgFnt;
              line-height: 140%;
            }
          }
          .overlay{
            strong{
              font-family: 'Hind';
              font-size: $D-bseFnt;
              line-height: 150%;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .news{
    h2{
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: $D-hdrFnt;
    }
  }
  .dates{
    font-size: $D-bseFnt;
  }
  .tags{
    font-size: $D-smlFnt;
    font-weight: 700;
  }
  p{
    font-size: $D-bseFnt;
    font-family: 'Hind', sans-serif;
  }
  .more{
    a {
      font-size: $D-smlFnt;
    }
  }
  footer{
    p{
      font-family: 'Lato', sans-serif;
      font-size: $D-smlFnt;
    }
  }
}
.sessions{
  h2{
    font-size: $D-bigFnt +3;
    font-family: 'Economica';
  }
}
.panels-view{
  h2{
    font-size: $D-bigFnt +3;
    font-family: 'Economica';
  }
  h3{
    font-size: $D-bigFnt +3;
    font-family: 'Economica';
    i{
      text-align: center;
      font-size: $D-bseFnt;
    }
  }
  .tray{
    .filter{
      label{
        font-weight: bold;
      }
    }
    table{
      font-family: 'Lato', sans-serif;
      thead{
        text-transform: uppercase;
        th{
          white-space: nowrap;
          font-size: $D-smlFnt;
        }
      }
      tbody{
        td{
          font-size: $D-bseFnt;
          p{
            font-size: $D-bseFnt;
          }
          dl{
            font-size: $D-bseFnt;
            dt{
              font-size: $D-smlFnt;
              text-transform: uppercase;
            }
            dd{
            }
          }
          &.num{
            text-align: right;
            white-space: nowrap;
          }
          &.desc{
          }
          &.actions{
            span{
              font-size: $D-smlFnt;
            }
          }
        }
      }
    }
  }
  .pryctDtl{
    button{
      font-size: $D-bseFnt;
    }
    figure{
      text-align: center;
      img{

      }
      figcaption{
        text-align: center;
        font-family: 'Noto Serif', serif;
        font-style: italic;
        font-size: $D-smlFnt;
      }
    }
    .row{
      .columns{
        &.actions{
          text-align: right;
          font-family: 'Hind', sans-serif;
        }
      }
    }
  }
  .tabs{
    .tab-title{
      a{
        font-family: 'Hind', sans-serif;
      }
    }
  }
}
body{
  &.sessions{
    .actions{
      ul{
        li{
          a{
            font-family: 'Hind', sans-serif;
          }
        }
      }
    }
  }
  &.passwords{
    @extend .sessions;
  }
  &.registrations{
    h2{
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: $D-hdrFnt;
    }
  }
}

@media screen and (max-width: 1024px){
  body{
    nav{
      &.top-bar{
        .top-bar-section{
          li{
            a{
              font-size: $D-smlFnt + 1;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  body{
    .main{
      .dashboard{
        ul{
          li{
            a{
              span{
                font-size: $D-smlFnt + 1;
              }
              .icon{
              }
            }
          }
        }
      }
    }
  }
}