$C-enfasis    : #2D59AC;
$C-base       : #555;
$C-matiz1     : #F49027;
$C-matiz2     : #F5B326;
$C-matiz3     : #C6322B;
$C-matiz4     : #FC5148;
$C-matiz5     : #3E8F2B;
$C-matiz6     : #45C051;
$C-matiz7     : #365DB9;
$C-matiz8     : #3693FD;
$C-luz        : white;

$D-logoWdth   : 280px;
$D-padGlb     : 1em;
$D-boxHt      : 6em;
$D-smlFnt     : 8pt;
$D-bseFnt     : 10pt;
$D-bigFnt     : 12pt;
$D-lrgFnt     : 12pt;
$D-hdrFnt     : 14pt;
$D-icoBig     : 36pt;


// Fixed Foundation
$success-color: #42A83E;
$alert-color: #ff281d;