// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
body{
  &.welcome{
    .main{
      .dashboard{
        margin-top: $D-padGlb;
        .da-thumbs{
          width: 100%;
          height: auto;
          li{
            margin: 0!important;
            border: 4px solid $C-luz;
          }
        }
        ul{
          li{
            padding: $D-padGlb/2;
            margin: $D-padGlb/8;
            height: 12em;
            &.lgsltv{
            background: $C-matiz1;
              a{
                .overlay{
                  vertical-align: middle;
                  strong{
                    border-color: darken($C-matiz1, 15%);
                  }
                }
              }
            }
            &.ejctv{
            background: $C-matiz2;
              a{
                .overlay{
                  strong{
                    border-color: darken($C-matiz2, 15%);
                  }
                }
              }
            }
            &.jdcl{
            background: $C-matiz3;
              a{
                img{
                  display: inline-block;
                  height: $D-icoBig;
                }
                .overlay{
                  strong{
                    border-color: darken($C-matiz3, 15%);
                  }
                }
              }
            }
            &.cntrl{
            background: $C-matiz4;
              a{
                .overlay{
                  strong{
                    border-color: darken($C-matiz4, 15%);
                  }
                }
              }
            }
            &.elctrl{
            background: $C-matiz5;
              a{
                .overlay{
                  strong{
                    border-color: darken($C-matiz5, 15%);
                  }
                }
              }
            }
            &.nms{
            background: $C-matiz6;
              a{
                .overlay{
                  strong{
                    border-color: darken($C-matiz6, 15%);
                  }
                }
              }
            }
            &.cncjs{
            background: $C-matiz7;
              a{
                .overlay{
                  strong{
                    border-color: darken($C-matiz7, 15%);
                  }
                }
              }
            }
            &.bogta{
            background: $C-matiz8;
              a{
                img{
                  display: inline-block;
                  height: $D-icoBig;
                }
                .overlay{
                  strong{
                    border-color: darken($C-matiz8, 15%);
                  }
                }
              }
            }
            a{
              text-align: center;
              transition: color 0.5s ease-in-out;
              color: $C-luz;
              height: 100%;
              .icon{
                display: block;
                transition: color 0.5s ease-in-out;
                transition-delay: 0.25s;
                color: $C-luz;
              }
              span{
                border-top: 2px solid $C-luz;
                border-bottom: 2px solid $C-luz;
                display: block;
                margin: 0 $D-padGlb/2;
              }
              img{
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
              }
              .overlay{
                z-index: 5;
                background: transparentize($C-luz, 0.7);
                transition: background 0.5s ease-in-out;
                color: $C-base;
                top: -100%;
                padding: $D-padGlb;
                strong{
                  color: darken($C-base, 25%);
                  padding: $D-padGlb/2 0;
                  display: block;
                  text-align: center;
                  vertical-align: middle;
                  border-width: 2px 0;
                  border-style: solid;
                }
              }
              &.single{
                .icon{
                  margin-bottom: $D-padGlb/2;
                }

              }
              &.double{
                .icon{
                  margin-bottom: $D-padGlb/4;
                }

              }
              &.triple{
                .icon{
                  margin-bottom: $D-padGlb/8;
                }

              }
              &.quad{
                .icon{
                  margin-bottom: 0;
                }

              }
            }
            &:hover{
              a{
                color: transparent;
                span{
                  transition: border 0.5s ease-in-out;
                  border-top: 2px solid transparent;
                  border-bottom: 2px solid transparent;
                }
              }
              .icon{
                color: transparent;
              }
              img{
                opacity: 0;
              }
              .overlay{
                background: transparentize($C-luz, 0.1);
              }
            }
          }
        }
      }
    }
  }
}