%li.has-dropdown
  %a{ href: "#"}
    Normas
  %ul.left.dropdown
    %li
      %a{ href: rules_path}
        Bandeja de Normas
    %li
      %a{ href: inactive_rules_path}
        Normas Pasadas
%li
  %a{:href => favorites_rules_path}
    Mis Normas Favoritas
%li
  %a{:href => notifications_rules_path}
    Notificaciones
