%li
  %a{:href => executives_path}
    Bandeja de Normas
%li
  %a{:href => favorites_executives_path}
    Mis Normas Favoritas
%li
  %a{:href => "#"}
    Perfil Altos Funcionarios
%li
  %a{:href => "#"}
    Informes