%footer
  .row
    .large-12.columns
      %p El uso del SIDEGAP queda bajo la absoluta responsabilidad del USUARIO. Los productos informáticos de esta herramienta están dirigidos a personas que, bajo su propia responsabilidad, interpretan los contenidos del Sistema.
      %p Asuntos Públicos y de Gobierno no se compromete ni se responsabiliza con ninguna persona o entidad respecto a cualquier perjuicio supuestamente provocado por el uso o por falta de uso del programa, pérdidas económicas o pérdidas de ganancias previstas como resultado de la utilización del programa o de la información que en este se provee. No existe responsabilidad alguna de Asuntos Públicos y de Gobierno por cuenta de la aprobación o archivo de iniciativas, expedición de normas sobre las cuales Asuntos Públicos y de Gobierno haya realizado algún concepto o emitido opinión de probabilidad.