/ Off Canvas Menu
%aside.left-off-canvas-menu
  / whatever you want goes here
  %ul.off-canvas-list
    %li.menuTg
      %a.left-off-canvas-toggle.menuToggle
        %span.ico
          = fa_icon "bars", base: "square-o"
        %strong
          Menu
    %li
      %label
        Sidegap
    %li
      %a{:href => legislatives_path}
        %span.ico
          = fa_icon "legal"
        %strong Rama Legislativa
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "users"
        %strong Normas en proceso de consulta ciudadana
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "comments"
        %strong Concejos Municipales
    / %li
    /   %a{:href => executives_path}
    /     %span.ico
    /       = fa_icon "sitemap"
    /     %strong Rama Ejecutiva
    / %li.has-submenu
    /   %a{:href => "#"}
    /     %span.ico
    /       = image_tag("balanza.svg")
    /     %strong Rama Judicial
    /   %ul.left-submenu
    /     %li.back
    /       %a{:href => "#"} Atrás
    /     %li
    /       %label
    /         Rama Judicial
    /     %li
    /       %a{:href => supreme_courts_path}
    /         %span.ico
    /           = image_tag("balanza.svg")
    /         %strong
    /           Corte Suprema de Justicia
    /     %li
    /       %a{:href => constitutional_courts_path}
    /         %span.ico
    /           = image_tag("balanza.svg")
    /         %strong
    /           Corte Constitucional
    /     %li
    /       %a{:href => superior_councils_path}
    /         %span.ico
    /           = image_tag("balanza.svg")
    /         %strong
    /           Concejo Superior de la Judicatura
    /     %li
    /       %a{:href => council_states_path}
    /         %span.ico
    /           = image_tag("balanza.svg")
    /         %strong
    /           Concejo de Estado
    / %li.has-submenu
    /   %a{:href => "#"}
    /     %span.ico
    /       = fa_icon "eye"
    /     %strong Organismos de control y ministerio público
    /   %ul.left-submenu
    /     %li.back
    /       %a{:href => "#"} Atrás
    /     %li
    /       %label
    /         Organismos de control y ministerio público
    /     %li
    /       %a{:href => "#"}
    /         %span.ico
    /           = fa_icon "eye"
    /         %strong
    /           Procuraduria General de la Nación
    /     %li
    /       %a{:href => "#"}
    /         %span.ico
    /           = fa_icon "eye"
    /         %strong
    /           Contraloría general de la República
    /     %li
    /       %a{:href => "#"}
    /         %span.ico
    /           = fa_icon "eye"
    /         %strong
    /           Defensoría del Pueblo
    / %li.has-submenu
    /   %a{:href => "#"}
    /     %span.ico
    /       = fa_icon "hand-o-down"
    /     %strong Organización Electoral
    /   %ul.left-submenu
    /     %li.back
    /       %a{:href => "#"} Atrás
    /     %li
    /       %label
    /         Organización Electoral
    /     %li
    /       %a{:href => "#"}
    /         %span.ico
    /           = fa_icon "hand-o-down"
    /         %strong
    /           Registraduría Nacional del Estado Civil
    /     %li
    /       %a{:href => "#"}
    /         %span.ico
    /           = fa_icon "hand-o-down"
    /         %strong
    /           Concejo Nacional Electoral
    / %li
    /   %a{:href => "#"}
    /     %span.ico
    /       = image_tag("bogota.svg")
    /     %strong Distrito capital de Bogotá